.overview-title-reset {
    margin-top: 10px !important;
    font-size: 4em;
    text-decoration: underline;
}

.correct-form {
    font-size: 2em;
    margin-top: 15px;
    color: black;
}

.incorrect-form-reset {
    font-size: 2em;
    margin-top: 15px;
    color: darkred;
}

.incorrect-form-reset-pass {
    margin-top: 15px;
    color: darkred;
    text-align: left;
}

.correct-form-pass {
    margin-top: 15px;
    color: black;
    text-align: left;
}